{% extends 'base.html' %}

{% block title %}Detalle Consulta - {{ consulta.mascota.nombre }}{% endblock %}

{% block content %}
<h2>Detalle de la Consulta</h2>
<dl class="row mt-4">
  <dt class="col-sm-3">Mascota</dt>
  <dd class="col-sm-9">{{ consulta.mascota.nombre }}</dd>

  <dt class="col-sm-3">Fecha</dt>
  <dd class="col-sm-9">{{ consulta.fecha }}</dd>

  <dt class="col-sm-3">Motivo</dt>
  <dd class="col-sm-9">{{ consulta.motivo }}</dd>

  <dt class="col-sm-3">Diagnóstico</dt>
  <dd class="col-sm-9">{{ consulta.diagnostico }}</dd>

  <dt class="col-sm-3">Tratamiento</dt>
  <dd class="col-sm-9">{{ consulta.tratamiento }}</dd>
</dl>

<a href="{% url 'detalle_mascota' consulta.mascota.id %}" class="btn btn-secondary">Volver a Detalle Mascota</a>
{% endblock %}